@import "variables";

.error {
  height: 80vh;
  &__title {
    @include montserrat;
    color: white;
    margin: 0;
    padding-top: 5rem;
    font-size: 5rem;
    font-weight: 600;
  }
  &__text {
    @include montserrat;
    color: white;
    padding-top: 2rem;
  }
  &__link {
    @include montserrat;
    color: white;
  }
}